reference/htslib

.DS_Store
/.cache/
/build*

# bundled cram script bytecode
*.pyc

# cram test error output
tests/cram/*.err

# CodeQL
_codeql_detected_source_root

# Meson WrapDB stuff
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles/

# Git worktrees
/.worktrees/
